.card-container {
  display: flex;
  flex-direction: column;
  background-color: #474779;
  border: 1px solid #8b9dc3;
  border-radius: 5px;
  padding: 12px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  /* transform: translateZ(0); */
  transition: transform 0.25s ease-out;
  box-shadow: 0px 0px 15px rgb(112, 112, 112);
  flex: 1;
  /* width: 35%; */
  height: auto;
  margin: 0.7%;
  font-size: 80%;

  text-decoration: none;
  color: #dfe3ee;
}

.card-container:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 20px white;
  z-index: 2;
}

@media only screen and (max-width: 400px) {
  .card-container {
    width: 80%;
  }
}
